/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* whole pages style */
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    width: 100%;
}

/* this is mobile style header  */
header {
    display: flex;
    flex-direction: column;
    background-color:rgba(251, 223, 112, 1);
   
}

.wrapper{
    width:15%;
    margin: 1 4;
    display:block;
    text-align:center;
}
    
nav{
    background-color:rgba(56, 78, 157, 1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:block;
    width:100%;
    text-align:center;
}

li a{
    display:block;
    padding: 10px;
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

form{
    margin: 5px auto;
    size: 30px;
}

form input {
    height: 30px;
    width: 40%;
}

ul li a:hover {
    background-color:rgba(251, 223, 112, 1);
    color:#222;
}

ul li a.active{
    background-color:rgba(251, 223, 112, 1);
    color: #222;
}

.fa-magnifying-glass{
    color:whitesmoke;
}

/* container holding the image and the text */

.container{
    margin:10px auto;
    background-image: url(../images/banner-sm.png);
    background-size:cover;
    background-position:center;
    padding: 20px;
}

.container .main-title{
    font-size: 56px;
    color:;rgba(135, 121, 113, 1);
    background: rgba(135, 121, 113, 0.5);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 20px;
    width: 30px 20px;
}

.container .welcome{
    color:;rgba(135, 121, 113, 1);
    background: rgba(135, 121, 113, 0.5);
    padding: 6px;
    padding-bottom: 17px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.about-content p{
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
  }

h2{
    font-size: larger;
    font-weight: bolder;
    color:rgba(92, 82, 76, 1);
    padding:20px;
    text-align:center;
}

article img{
    border-radius: 50%;
    width: 55%;
    padding-left: 120px;
    padding-right: 120px;

}

.example{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgba(138, 68, 28, 1);
    padding: 10px;
    text-align:center;
}

.lastwords{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align:center;

}

.about-content{
    background-color:rgba(254, 250, 231, 1)
}

.about-content p{
    padding: 10px;
    font-size: small;
    text-align:center;
}

.now{
    background-color: rgba(56, 78, 157, 1);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(251, 223, 112, 1);
    padding: 10px;
    text-align: center;
}

footer{
    background-color: rgba(251, 223, 112, 1);
    font-family: Georgia, 'Times New Roman', Times, serifrgba(251, 223, 112, 1);
    padding:20px;
    margin: 10px;
}

footer p{
    padding: 10px;
}

footer h4{
    padding: 20px;
    font-weight: bold;
}

.ins{
    padding: 10px;
}

.youtube{
    padding:10px;
}



/* .about-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */